In [1]:
import pandas as pd

In [4]:
df_player = pd.read_excel('volleyball_선수별.xlsx')

In [5]:
df_player

,팀명,경기날짜,결과,이름,득점_득점,공격종합_성공률,공격종합_점유율,오픈_성공률,오픈_점유율,시간차_성공률,...,세트_시도,세트_성공률,세트_점유율,리시브_시도,리시브_효율,리시브_점유율,블로킹_시도,블로킹_성공률,블로킹_점유율,범실_범실
0,IBK기업은행,2017-10-14,0,메디 (L),24,29.85,37.43,26.83,46.59,100.00,...,7,0.00,3.72,28,0.32,28.28,20,0.40,21.28,7
1,IBK기업은행,2017-10-14,0,고예림 (L),15,30.00,22.35,12.00,28.41,NaN,...,7,0.14,3.72,25,0.56,25.25,10,0.70,10.64,6
2,IBK기업은행,2017-10-14,0,김희진 (R),15,27.78,20.11,20.00,11.36,44.44,...,7,0.00,3.72,0,NaN,0.00,14,0.71,14.89,6
3,IBK기업은행,2017-10-14,0,김미연 (L),7,31.25,8.94,16.67,6.82,0.00,...,3,0.00,1.60,1,0.00,1.01,12,0.33,12.77,1
4,IBK기업은행,2017-10-14,0,김수지 (C),6,25.00,8.94,0.00,2.27,50.00,...,7,0.00,3.72,0,NaN,0.00,28,0.50,29.79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,KGC인삼공사,2022-02-28,0,김혜원 (S),0,0.00,2.00,0.00,4.76,NaN,...,27,0.37,25.96,0,NaN,0.00,2,0.50,4.44,0
10993,KGC인삼공사,2022-02-28,0,나현수 (C),0,0.00,1.00,NaN,0.00,NaN,...,2,0.00,1.92,0,NaN,0.00,1,0.00,2.22,2
10994,KGC인삼공사,2022-02-28,0,노란 (Li),0,NaN,0.00,NaN,0.00,NaN,...,3,0.33,2.88,9,0.11,12.68,0,NaN,0.00,0
10995,KGC인삼공사,2022-02-28,0,이선우 (L),0,NaN,0.00,NaN,0.00,NaN,...,1,0.00,0.96,3,-0.33,4.23,0,NaN,0.00,0
10996,KGC인삼공사,2022-02-28,0,채선아 (Li),0,NaN,0.00,NaN,0.00,NaN,...,7,0.14,6.73,17,0.47,23.94,0,NaN,0.00,0

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error

my_predictions = {}
my_pred = None
my_actual = None
my_name = None

colors = ['r', 'c', 'm', 'y', 'k', 'khaki', 'teal', 'orchid', 'sandybrown',
          'greenyellow', 'dodgerblue', 'deepskyblue', 'rosybrown', 'firebrick',
          'deeppink', 'crimson', 'salmon', 'darkred', 'olivedrab', 'olive', 
          'forestgreen', 'royalblue', 'indigo', 'navy', 'mediumpurple', 'chocolate',
          'gold', 'darkorange', 'seagreen', 'turquoise', 'steelblue', 'slategray', 
          'peru', 'midnightblue', 'slateblue', 'dimgray', 'cadetblue', 'tomato'
         ]

def plot_predictions(name_, pred, actual):
    df = pd.DataFrame({'prediction': pred, 'actual': y_test})
    df = df.sort_values(by='actual').reset_index(drop=True)

    plt.figure(figsize=(11, 8))
    plt.scatter(df.index, df['prediction'], marker='x', color='r')
    plt.scatter(df.index, df['actual'], alpha=0.7, marker='o', color='black')
    plt.title(name_, fontsize=15)
    plt.legend(['prediction', 'actual'], fontsize=12)
    plt.show()

def mse_eval(name_, pred, actual):
    global my_predictions, colors, my_pred, my_actual, my_name
    
    my_name = name_
    my_pred = pred
    my_actual = actual

    plot_predictions(name_, pred, actual)

    mse = mean_squared_error(pred, actual)
    my_predictions[name_] = mse

    y_value = sorted(my_predictions.items(), key=lambda x: x[1], reverse=True)
    
    df = pd.DataFrame(y_value, columns=['model', 'mse'])
    print(df)
    min_ = df['mse'].min() - 10
    max_ = df['mse'].max() + 10
    
    length = len(df) / 2
    
    plt.figure(figsize=(9, length))
    ax = plt.subplot()
    ax.set_yticks(np.arange(len(df)))
    ax.set_yticklabels(df['model'], fontsize=12)
    bars = ax.barh(np.arange(len(df)), df['mse'], height=0.3)
    
    for i, v in enumerate(df['mse']):
        idx = np.random.choice(len(colors))
        bars[i].set_color(colors[idx])
        ax.text(v + 2, i, str(round(v, 3)), color='k', fontsize=12, fontweight='bold', verticalalignment='center')
        
    plt.title('MSE Error', fontsize=16)
    plt.xlim(min_, max_)
    
    plt.show()
    
def add_model(name_, pred, actual):
    global my_predictions, my_pred, my_actual, my_name
    my_name = name_
    my_pred = pred
    my_actual = actual
    
    mse = mean_squared_error(pred, actual)
    my_predictions[name_] = mse

def remove_model(name_):
    global my_predictions
    try:
        del my_predictions[name_]
    except KeyError:
        return False
    return True

def plot_all():
    global my_predictions, my_pred, my_actual, my_name
    
    plot_predictions(my_name, my_pred, my_actual)
    
    y_value = sorted(my_predictions.items(), key=lambda x: x[1], reverse=True)
    
    df = pd.DataFrame(y_value, columns=['model', 'mse'])
    print(df)
    min_ = df['mse'].min() - 10
    max_ = df['mse'].max() + 10
    
    length = len(df) / 2
    
    plt.figure(figsize=(9, length))
    ax = plt.subplot()
    ax.set_yticks(np.arange(len(df)))
    ax.set_yticklabels(df['model'], fontsize=12)
    bars = ax.barh(np.arange(len(df)), df['mse'], height=0.3)
    
    for i, v in enumerate(df['mse']):
        idx = np.random.choice(len(colors))
        bars[i].set_color(colors[idx])
        ax.text(v + 2, i, str(round(v, 3)), color='k', fontsize=12, fontweight='bold', verticalalignment='center')
        
    plt.title('MSE Error', fontsize=16)
    plt.xlim(min_, max_)
    
    plt.show()

In [8]:
df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10997 entries, 0 to 10996
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   팀명        10997 non-null  object
 1   경기날짜      10997 non-null  object
 2   결과        10997 non-null  int64
 3   이름        10997 non-null  object
 4   득점_득점     10997 non-null  int64
 5   공격종합_성공률  7101 non-null   float64
 6   공격종합_점유율  10997 non-null  float64
 7   오픈_성공률    6686 non-null   float64
 8   오픈_점유율    10997 non-null  float64
 9   시간차_성공률   2665 non-null   float64
 10  시간차_점유율   10997 non-null  float64
 11  후위_성공률    1905 non-null   float64
 12  퀵오픈_성공률   3799 non-null   float64
 13  퀵오픈_점유율   10997 non-null  float64
 14  서브_성공률    8612 non-null   float64
 15  서브_점유율    10997 non-null  float64
 16  디그_성공률    9279 non-null   float64
 17  디그_점유율    10997 non-null  float64
 18  세트_시도     10997 non-null  int64
 19  세트_성공률    8456 non-null   float64
 20  세트_점유율    10997 non-null  float64
 21  리시브_시도    10997 non-null  int64
 22  리시브_효율    5362 non-null   float64
 23  리시브_점유율   10997 non-null  float64
 24  블로킹_시도    10997 non-null  int64
 25  블로킹_성공률   7200 non-null   float64
 26  블로킹_점유율   10997 non-null  float64
 27  범실_범실     10997 non-null  int64
dtypes: float64(19), int64(6), object(3)
memory usage: 2.3+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_player['팀명'])
df_player['팀명'] = le.transform(df_player['팀명'])
df_player

,팀명,경기날짜,결과,이름,득점_득점,공격종합_성공률,공격종합_점유율,오픈_성공률,오픈_점유율,시간차_성공률,...,세트_시도,세트_성공률,세트_점유율,리시브_시도,리시브_효율,리시브_점유율,블로킹_시도,블로킹_성공률,블로킹_점유율,범실_범실
0,1,2017-10-14,0,메디 (L),24,29.85,37.43,26.83,46.59,100.00,...,7,0.00,3.72,28,0.32,28.28,20,0.40,21.28,7
1,1,2017-10-14,0,고예림 (L),15,30.00,22.35,12.00,28.41,NaN,...,7,0.14,3.72,25,0.56,25.25,10,0.70,10.64,6
2,1,2017-10-14,0,김희진 (R),15,27.78,20.11,20.00,11.36,44.44,...,7,0.00,3.72,0,NaN,0.00,14,0.71,14.89,6
3,1,2017-10-14,0,김미연 (L),7,31.25,8.94,16.67,6.82,0.00,...,3,0.00,1.60,1,0.00,1.01,12,0.33,12.77,1
4,1,2017-10-14,0,김수지 (C),6,25.00,8.94,0.00,2.27,50.00,...,7,0.00,3.72,0,NaN,0.00,28,0.50,29.79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,2,2022-02-28,0,김혜원 (S),0,0.00,2.00,0.00,4.76,NaN,...,27,0.37,25.96,0,NaN,0.00,2,0.50,4.44,0
10993,2,2022-02-28,0,나현수 (C),0,0.00,1.00,NaN,0.00,NaN,...,2,0.00,1.92,0,NaN,0.00,1,0.00,2.22,2
10994,2,2022-02-28,0,노란 (Li),0,NaN,0.00,NaN,0.00,NaN,...,3,0.33,2.88,9,0.11,12.68,0,NaN,0.00,0
10995,2,2022-02-28,0,이선우 (L),0,NaN,0.00,NaN,0.00,NaN,...,1,0.00,0.96,3,-0.33,4.23,0,NaN,0.00,0
10996,2,2022-02-28,0,채선아 (Li),0,NaN,0.00,NaN,0.00,NaN,...,7,0.14,6.73,17,0.47,23.94,0,NaN,0.00,0

In [10]:

le_2 = LabelEncoder()
le_2.fit(df_player['이름'])
df_player['이름'] = le_2.transform(df_player['이름'])
df_player

,팀명,경기날짜,결과,이름,득점_득점,공격종합_성공률,공격종합_점유율,오픈_성공률,오픈_점유율,시간차_성공률,...,세트_시도,세트_성공률,세트_점유율,리시브_시도,리시브_효율,리시브_점유율,블로킹_시도,블로킹_성공률,블로킹_점유율,범실_범실
0,1,2017-10-14,0,68,24,29.85,37.43,26.83,46.59,100.00,...,7,0.00,3.72,28,0.32,28.28,20,0.40,21.28,7
1,1,2017-10-14,0,2,15,30.00,22.35,12.00,28.41,NaN,...,7,0.14,3.72,25,0.56,25.25,10,0.70,10.64,6
2,1,2017-10-14,0,49,15,27.78,20.11,20.00,11.36,44.44,...,7,0.00,3.72,0,NaN,0.00,14,0.71,14.89,6
3,1,2017-10-14,0,17,7,31.25,8.94,16.67,6.82,0.00,...,3,0.00,1.60,1,0.00,1.01,12,0.33,12.77,1
4,1,2017-10-14,0,24,6,25.00,8.94,0.00,2.27,50.00,...,7,0.00,3.72,0,NaN,0.00,28,0.50,29.79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,2,2022-02-28,0,47,0,0.00,2.00,0.00,4.76,NaN,...,27,0.37,25.96,0,NaN,0.00,2,0.50,4.44,0
10993,2,2022-02-28,0,50,0,0.00,1.00,NaN,0.00,NaN,...,2,0.00,1.92,0,NaN,0.00,1,0.00,2.22,2
10994,2,2022-02-28,0,57,0,NaN,0.00,NaN,0.00,NaN,...,3,0.33,2.88,9,0.11,12.68,0,NaN,0.00,0
10995,2,2022-02-28,0,140,0,NaN,0.00,NaN,0.00,NaN,...,1,0.00,0.96,3,-0.33,4.23,0,NaN,0.00,0
10996,2,2022-02-28,0,186,0,NaN,0.00,NaN,0.00,NaN,...,7,0.14,6.73,17,0.47,23.94,0,NaN,0.00,0

In [11]:
df_player.isna().sum()

팀명             0
경기날짜           0
결과             0
이름             0
득점_득점          0
공격종합_성공률    3896
공격종합_점유율       0
오픈_성공률      4311
오픈_점유율         0
시간차_성공률     8332
시간차_점유율        0
후위_성공률      9092
퀵오픈_성공률     7198
퀵오픈_점유율        0
서브_성공률      2385
서브_점유율         0
디그_성공률      1718
디그_점유율         0
세트_시도          0
세트_성공률      2541
세트_점유율         0
리시브_시도         0
리시브_효율      5635
리시브_점유율        0
블로킹_시도         0
블로킹_성공률     3797
블로킹_점유율        0
범실_범실          0
dtype: int64

In [12]:
df_player['공격종합_성공률'] = df_player['공격종합_성공률'].fillna(df_player['공격종합_성공률'].mean())
df_player['오픈_성공률'] = df_player['오픈_성공률'].fillna(df_player['오픈_성공률'].mean())
df_player['시간차_성공률'] = df_player['시간차_성공률'].fillna(df_player['시간차_성공률'].mean())
df_player['후위_성공률'] = df_player['후위_성공률'].fillna(df_player['후위_성공률'].mean())
df_player['퀵오픈_성공률'] = df_player['퀵오픈_성공률'].fillna(df_player['퀵오픈_성공률'].mean())
df_player['서브_성공률'] = df_player['서브_성공률'].fillna(df_player['서브_성공률'].mean())
df_player['디그_성공률'] = df_player['디그_성공률'].fillna(df_player['디그_성공률'].mean())
df_player['세트_성공률'] = df_player['세트_성공률'].fillna(df_player['세트_성공률'].mean())
df_player['리시브_효율'] = df_player['리시브_효율'].fillna(df_player['리시브_효율'].mean())
df_player['블로킹_성공률'] = df_player['블로킹_성공률'].fillna(df_player['블로킹_성공률'].mean())



df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10997 entries, 0 to 10996
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   팀명        10997 non-null  int32
 1   경기날짜      10997 non-null  object
 2   결과        10997 non-null  int64
 3   이름        10997 non-null  int32
 4   득점_득점     10997 non-null  int64
 5   공격종합_성공률  10997 non-null  float64
 6   공격종합_점유율  10997 non-null  float64
 7   오픈_성공률    10997 non-null  float64
 8   오픈_점유율    10997 non-null  float64
 9   시간차_성공률   10997 non-null  float64
 10  시간차_점유율   10997 non-null  float64
 11  후위_성공률    10997 non-null  float64
 12  퀵오픈_성공률   10997 non-null  float64
 13  퀵오픈_점유율   10997 non-null  float64
 14  서브_성공률    10997 non-null  float64
 15  서브_점유율    10997 non-null  float64
 16  디그_성공률    10997 non-null  float64
 17  디그_점유율    10997 non-null  float64
 18  세트_시도     10997 non-null  int64
 19  세트_성공률    10997 non-null  float64
 20  세트_점유율    10997 non-null  float64
 21  리시브_시도    10997 non-null  int64
 22  리시브_효율    10997 non-null  float64
 23  리시브_점유율   10997 non-null  float64
 24  블로킹_시도    10997 non-null  int64
 25  블로킹_성공률   10997 non-null  float64
 26  블로킹_점유율   10997 non-null  float64
 27  범실_범실     10997 non-null  int64
dtypes: float64(19), int32(2), int64(6), object(1)
memory usage: 2.3+ MB

In [13]:
from sklearn.model_selection import train_test_split

SEED = 45
X = df_player.drop(['경기날짜', '결과'], axis =1)
y = df_player['결과']



X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=SEED)

In [14]:
X_train.shape , X_test.shape

((8247, 26), (2750, 26))

## 데이터 셋 : 선수별
### 모델 : 로지스틱 Reg

In [15]:
### 로지스틱 돌려 봄

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\LG\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
from sklearn.metrics import accuracy_score

# 로지스틱 모델 학습 성능 비교
y_pred = model.predict(X_test) # 예측 결과 라벨
 # 예측 결과 라벨


# 정확도 측정
#accuracy_score(y_pred, y_train) , >>
model.score(X_train, y_train), model.score(X_test, y_test)

(0.6157390566266521, 0.5992727272727273)

## 데이터 셋 : 선수별
### 모델 : XGB

In [17]:
# 파라미터 튜닝 없는 XGBRegressor 

from xgboost import XGBRegressor

xgb = XGBRegressor(random_state = 0)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

#mse_eval('Logistic', xgb_pred, y_test)

(0.7530110275906898, 0.2238092855854561)

In [18]:
# 파라미터 튜닝 없는 XGBClassifier

from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

#mse_eval('XGBClassifier', xgb_pred, y_test)

(0.9411907360252213, 0.7094545454545454)

In [19]:
# XGB underfitting

from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0, learning_rate = 0.0001, n_estimators = 1000, subsample= 0.8)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

(0.672486964956954, 0.6232727272727273)

In [20]:
# # XGB underfitting


from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0, learning_rate = 0.001, n_estimators = 1000, subsample= 0.8)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

(0.7156541772765854, 0.6421818181818182)

In [21]:
# 개인적으로 여기부터 오버피팅 같음

from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0, learning_rate = 0.01, n_estimators = 1000, subsample= 0.8)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

(0.8726809748999637, 0.7014545454545454)

In [22]:
#

from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0, learning_rate = 0.007, n_estimators = 1800, subsample= 0.8)
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb.score(X_train, y_train), xgb.score(X_test, y_test)

(0.8940220686310173, 0.7072727272727273)

# 랜덤포레스트

In [23]:
# Random Forest 모델을 학습한 뒤 Train, Test 데이터의 score를 구하세요.
# 하이퍼 파라미터를 자유롭게 조절하세요.
from sklearn.ensemble import RandomForestClassifier

# random_state = 42,max_depth = 16,max_features = 3 hyper parameter 지정
clf = RandomForestClassifier(random_state = 42,max_depth = 16,max_features = 3)

clf.fit(X_train, y_train)

clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.9599854492542743, 0.6472727272727272)